@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

:root{
    --DarkestBlue-:#242f3a ;
    --DarkerBlue-:#13375c ;
    --DarkBlue- : #3c5670 ;
    --Blue- : #577399 ;
    --LightBlue- : #abc7df ;
    --LighterBlue- : #72a9da ;
    --LightestBlue- : #c7e0f5 ;
    --LightestBlue2- : #f1f9ff ;
    --LightRed- : #fb5a4f ;
    --RedError- : #ff0000 ;
    --Red- : #d63024 ;
    --DarkRed- : #811710 ;
    --WhiteBlue- : #ebebfd ;
    --WhiteShadows- : rgba(255, 255, 255, 0.6); ;
    --WhiteGrey- : #fafafa ;
    --White- : #FFFFFF ;
    --Black- : #000000 ;
    --DarkGrey- : #3d3d3d ;
    --Grey- : #7a7a7a ;
    --LightGrey- : #bdbdbd ;
    --Transparent-:rgba(255, 255, 255, 0);
    --Shadow-:rgba(0, 0, 0, 0.39);
    --Color1-:#152535 ;
    --Color2-:#243f5a ;
    --Color3-:#31567a ;
    --Color4-:#3f6f9e ;
    --Color5-:#518ecc ;
    --Color1bis-:#00162c ;
    --Color2bis-:#002850 ;
    --Color3bis-:#004890 ;
    --Color4bis-:#0062c3 ;
    --Color5bis-:#0080ff ;
    --Color6- :#530000 ;
    --Color7- : #850000;
    --Color8- : #b60000;
    --Color9- : #e20101;
    --Color10- : #ff2222;

}

.login-page {
    width: 100%;
    height: 100%;
    padding: 8% 0 0;
    margin: auto;
    background-color: red;
}
.form {
    position: relative;
    z-index: 1;
    background: var(--White-);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 8px 8px  var(--Shadow-);
    border-radius: 3px 3px 3px 3px;
}
.form input {
    font-family: Dreams;
    outline: 0;
    background: var(--WhiteBlue-);
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form .message {
    margin: 15px 0 0;
    color: var(--color-txt-black);
    font-size: 100%;
}
.form .message a {
    color: var(--color-txt-black);
    text-decoration: none;
}

.link:hover{
    color : var(--Blue-);
}
.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
.button {
    font-family: Dreams;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    color: var(--Black-);
    background: var(--Black-);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: 130%;
}
.button:before {
    content: '';
    background: linear-gradient(50deg, var(--Color6-), var(--Color7-), var(--Color8-), var(--Color9-), var(--Color10-), var(--Color6-), var(--Color7-),  var(--Color8-), var(--Color9-));
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
.button:active {
    color: var(--Black-);
    text-decoration: underline;
}
.button:active:after {
    background: transparent;
}
.button:hover:before {
    opacity: 1;
}
.button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--White-);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

